.navbar {
        width: 100%;
        height: 3em;
        display: inline-block;
    &-header {
    }

    &-list {
        text-decoration: none;
        list-style: none;

        &-left {
            float: left;
        }
    }
}
