html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0; }

body.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

.page-body {
  padding-bottom: 2em; }

.page-foot {
  height: 2em;
  margin-top: -2em; }

.navbar {
  width: 100%;
  height: 3em;
  display: inline-block; }
  .navbar-list {
    text-decoration: none;
    list-style: none; }
    .navbar-list-left {
      float: left; }
