@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "OuterMaster.cshtml";
}

<div class="jumbotron no-margins">
    <h1 class="jumbo-header">Umbraco Trader</h1>
    <h4 class="jumbo-sub">This is the umbraco trading platform.</h4>
</div>
<span class="color-bar">&nbsp;</span>
<div class="section-lrg">
    <h2>Trade on over 100 active markets.</h2>
    <div class="js-owl owl-carousel owl-theme">
    </div>
</div>
<span class="color-bar">&nbsp;</span>
<div class="section-lrg row">
    <div class="col-sm-6">
        <a class="btn btn-panel" href="/login/?mode=login">
            <p>Login</p>
        </a>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-panel" href="/login/?mode=register">
            <p>Register</p>
        </a>
    </div>
</div>

<script src="~/sitefiles/dist/scripts/main.js"></script>
<script src="~/sitefiles/dist/vendor/scripts/owl.carousel.min.js"></script>
<link href="~/sitefiles/dist/vendor/styles/owl-carousel/owl.transitions.css" rel="stylesheet" />
<link href="~/sitefiles/dist/vendor/styles/owl-carousel/owl.theme.css" rel="stylesheet" />
<link href="~/sitefiles/dist/vendor/styles/owl-carousel/owl.carousel.css" rel="stylesheet" />
